body {
    margin: 0;
    background-color: #dfd6d692;
    line-height: 1.5;
}

nav, main > section {
    overflow: auto;
}

main > section , main > footer {
    min-width: 100vh;
}

/* Nav Bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    background-color: #dfd6d692;
    
}

nav a {
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style: none;
}
nav ul a {
    padding: 1em;
    color: black;
}

nav ul a:hover {
    color: rgb(69, 130, 156);
}

/* Headers */
h1 {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    color: rgb(3, 1, 22);
    background-color: #dfd6d692;
}

h2 {
    font-size: larger;
    display: flex;
    justify-content: center;
}

/* About Me Section */
#about_me {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
}

/* Skills Section */

.list {
    color: brown;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 2%;
    margin-bottom: 5%;
    padding: 0%;
    border-style: dotted;
}

.skill_title {
    font-size: medium;
    margin: 2%;
}

/* Projects */

.projects {
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 20px;
}

img {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    margin-left: 20%;
}

/* Contact Me */

label {
    /* margin: 1em 0; */
    padding: 0.5em;
    margin: 1em;
    /* width: 20em; */
    /* font-size: 1em; */
    /* height: 9em; */
    display: flex;
    justify-content: flex-start;
}

.labels {
    color: #070101;
    margin: 5%;
}

input {
    padding: 3em;
}

button {
    font-size: 1em;
    margin: 1em 0;
    padding: 0.5em 1em;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

input#name, input#message {
    background-color: #dfd6d692;
    margin-left: 1%;
}

button:hover {
    background-color: #beb6b692;
}

/* footer */
footer {
    margin-top: 10%;
    display: flex;
    justify-content: center;
}
